---
import Layout from "@/layouts/Layout.astro"
import {List, Widget} from "@/components"
---

<Layout>
    <h1>
        Marketplace
    </h1>

    <List columns="3">
        <Widget class="boxed">
            A
        </Widget>

        <Widget class="boxed">
            B
        </Widget>

        <Widget class="boxed">
            C
        </Widget>

        <Widget class="boxed">
            D
        </Widget>
    </List>
</Layout>