---
const { class: className } = Astro.props
---

<div class:list={["widget", className]}>
  <slot />
</div>

<style>
    .widget
    {
        border: 5px solid var(--border-color);
        border-radius: 12px;
        padding: 1.25rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .widget > h2
    {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }

    .widget > p
    {
        font-size: 14px;
        color: #888;
        margin: 0;
    }
</style>