---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="id"> <!-- "id" = indonesian -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} /> <!-- This is for showing that this site was made with Astro -->
		<link rel="icon" href="/fo6.svg" />

		<title>Sekas</title>
	</head>
	<body>
		<Navbar />
		<div class="page-wrapper">
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
	<style>
		html
		{
			--darker-canvas: color-mix(in srgb, Canvas 99%, black 3%);
			--button-color: color-mix(in srgb, Canvas 99%, rgb(41, 96, 117) 10%);
			--button-hover-color: color-mix(in srgb, Canvas 99%, rgb(61, 75, 80) 70%);
			--border-color: color-mix(in srgb, Canvas 99%, black 6%);
			font-family: sans-serif;
			
			.bold
			{
				font-weight: bold;
			}

			.bigger
			{
				font-size: medium;
			}
		}

		body {
			display: flex;
			margin: 0;
			min-height: 100vh;
			/* remove overflow-x: hidden from here */
		}

		.page-wrapper {
			flex: 1;
			display: flex;
			flex-direction: column;
			min-width: 0;
			width: 100%;
			overflow-x: hidden; /* move it here instead */
		}

		main
		{
			flex: 1;
			padding: 2rem;
		}
	</style>
</html>