---
import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<html lang="id"> <!-- "id" = indonesian -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} /> <!-- This is for showing that this site was made with Astro -->
		<link rel="icon" href="/sekas-icon.svg" />

		<title>Sekas</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
	<style>
		html
		{
			--darker-canvas: color-mix(in srgb, Canvas 99%, black 3%);
			--button-color: color-mix(in srgb, Canvas 99%, rgb(61, 75, 80) 10%);
			--button-hover-color: color-mix(in srgb, Canvas 99%, rgb(61, 75, 80) 70%);
			--border-color: color-mix(in srgb, Canvas 99%, black 6%);
			font-family: sans-serif;

			.boxed
			{
				background-color: var(--darker-canvas);
				/* width: 200px; */
				height: 200px;
				border-radius: 24px;
				border: 0.5px solid var(--border-color);
				padding: 1rem;
			}

			.bold
			{
				font-weight: bold;
			}

			.bigger
			{
				font-size: medium;
			}
		}

		body
		{
			display: flex;
			margin: 0;
			min-height: 100vh;
			overflow-x: hidden;
		}

		main
		{
			flex: 1;
			padding: 2rem;
		}
	</style>
</html>